# Ignorar arquivos temporários do editor
.vscode/
.idea/

# Ignorar node_modules (caso tenha algum pacote de front-end instalado)
node_modules/

# Ignorar arquivos de dependências do NPM
package-lock.json

# Ignorar arquivos do sistema operacional (Windows/Mac)
Thumbs.db
.DS_Store

# Ignorar arquivos de log
*.log

